{%extends TMPL_BASE%}{%load i18n django_tables2%}
{%block title%}{%if target.isNew%}{%trans 'health.models.Category.create'%}{%else%}{{target.name}} - {%trans 'health.models.Category'%}{%endif%} - {%trans 'appName'%}{%endblock%}

{%block content%}<div class="jumbotron"><div class="card">
   <div class="card-header">{%if target.isNew%}{%trans 'health.models.Category.create'%}{%else%}{{target.name}} - {%trans 'health.models.Category'%}{%endif%}</div>

   <div class="card-body"><form method="POST" id="voForm">
      <input type="hidden" name="_method" value="POST"/>
      {%csrf_token%}

      <div class="field form-group">
         <label for="nameFld">{%trans 'Category.name'%}</label>
         <input type="text" name="name" id="nameFld" value="{{target.name|default:''}}" required="required" class="form-control"/>
      </div>

      <div class="field form-group">
         <label for="descFld">{%trans 'Category.desc'%}</label>
         <textarea name="desc" id="descFld" class="form-control">{{target.desc|default:''}}</textarea>
      </div>
      
      <div class="field form-group">
         <label for="sequenceFld">{%trans 'Category.sequence'%}</label>
         <input type="number" name="sequence" id="sequenceFld" value="{{target.sequence|default:'0'}}" required="required" class="form-control"/>
      </div>

      <div class="field form-group">
         <label for="minimumFld">{%trans 'Category.minimum'%}</label>
         <input type="number" name="minimum" id="minimumFld" value="{{target.minimum|default:'0'}}" required="required" class="form-control"/>
      </div>

      <div class="field form-group">
         <label for="maximumFld">{%trans 'Category.maximum'%}</label>
         <input type="number" name="maximum" id="maximumFld" value="{{target.maximum|default:'0'}}" required="required" class="form-control"/>
      </div>

      <div class="field form-group">
         <label for="tagsFld">{%trans 'Category.tags'%}</label>
         <textarea name="tags" id="tagsFld" class="form-control">{{target.tagsString|default:''}}</textarea>
      </div>

      <div class="pnl-btns">
         {%if not target.isNew%}<button type="button" class="btn btn-outline-primary" id="readonlyBtn"><i class="fas fa-edit"></i> {%trans 'actions.readonly'%}</button>{%endif%}
         <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> {%trans 'actions.submit'%}</button>
      </div>
   </form></div>
</div></div>{%endblock%}

{%block loading%}{{block.super}}
<script type="text/javascript"><!--
$(document).ready(function(){
   $('#voForm').validate({});
   //{%if not target.isNew%} If opening the existing category
   var toggleReadonly=function(){
      if($('#voForm').attr('readonly')){
         $('#voForm input').removeAttr('readonly');
         $('#voForm textarea').removeAttr('readonly');
         $('#voForm').removeAttr('readonly');
      }else{
         $('#voForm input').attr('readonly', 'readonly');
         $('#voForm textarea').attr('readonly', 'readonly');
         $('#voForm').attr('readonly', 'readonly');
      }
   };
   $('#readonlyBtn').click(toggleReadonly).click();
   //{%endif%}
});
//--></script>
{%endblock%}
