{%load i18n pydate%}
<div class="row">
   <div class="col-12 col-md-8"><!-- Chart Here --></div>
   <form class="col-12 col-md-4" method="POST" id="{{target.id}}">
      <div class="field form-group"><div class="input-group field-datetime" data-target-input="nearest" id="indexTimeField">
         <label class="input-group-prepend input-group-text" for="timeFld">{%trans 'Index.time'%}</label>
         <input type="text" class="form-control editable" required="required" name="time" id="timeFld" placeholder="{%trans 'webframe.models.AliveObject.effDate'%}" value="{{target.time|pydate:FMT_DATE}}"/>
         <div class="input-group-append"><button class="btn btn-secondary btn-now" type="button" title="{%trans 'now'%}"><i class="fas fa-clock"></i> {%trans 'now'%}</button></div>
      </div></div>

      <div class="field form-group">
         <div class="input-group">
            <label class="input-group-prepend input-group-text" for="valueFld">{%trans 'Index.value'%}</label>
            <input type="text" class="form-control" required="required" name="value" id="valueFld" placeholder="{%trans 'Index.value'%}" value="0" number="number"/>
         </div>
      </div>

      <div class="field form-group">
         <label for="tagsFld">{%trans 'Index.tags'%}</label>
         <input type="hidden" name="tags" value=""/>
         <div>{%for t in target.tags%}<button type="button" class="btn btn-outline-info tagBtn" value="{{t.name}}">{{t.name}}</button>{%endfor%}</div>
      </div>

      <div class="pnl-btns">
         <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> {%trans 'actions.submit'%}</button>
      </div>
   </form>
</div>

<script type="text/javascript"><!--
$('.tagBtn').click(function(){
   if($(this).attr('clicked')){
      $(this).removeClass('btn-info').addClass('btn-outline-info').removeAttr('clicked', 'clicked');
   }else{
      $(this).removeClass('btn-outline-info').addClass('btn-info').attr('clicked', 'clicked');
   }
   $('input[name=tags]').val('');
   $('.tagBtn[clicked]').each(function(){ 
      var curr=$('input[name=tags]').val();
      if(curr.length>0)curr+=', ';
      $('input[name=tags]').val(curr+$(this).attr('value')); 
   });
});
$('#{{target.id}}').validate({});
$('.field-datetime').datetimepicker({'format': '{{FMT_JSDATE}}'});
//--></script>
